* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

body{
    color: #dddcdc;
    background-image: linear-gradient(
        210deg,
        black,
        rgb(65, 64, 64),
        black
    );
    margin-top: 15rem;
}

.max-width {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    margin-bottom: 26rem;
    justify-content: center;
    align-items: center;
  }

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: var(--white);
}

.navbar .navbar_content{
    padding: 3rem 4rem 1rem;
    display: flex;
    justify-content: space-between;
}

.navbar .navbar_content .navbar_links li{
    display: inline-block;
}

.navbar .navbar_content .navbar_links li:not(:last-of-type){
    margin-right: 2rem;
}

.navbar .navbar_content .navbar_links a{
    padding: 1rem;
    display: inline-block;
}

.navbar .navbar_content .navbar_links a:hover{
    color: var(--tertiary-color);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    scroll-margin-top: 40rem ;
}

header .header__left{
    max-width: 62rem;
    flex: 1;
}

header .header__left p{
    margin-top: 2rem;
    margin-bottom: 4rem;
    max-width: 50rem;
}


header .header__right .header__image .eu{
    height: 300px;
    width: 300px;
    border-radius: 100%;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    scroll-margin-top: 20rem ;
}

footer{
    display: flex;
    justify-content: center;
    xalign-items: center;
    gap: 4rem;
    scroll-margin-top: 20rem ;
}

a {
    color: #7dddf5;
}

a:hover{
    color: #2376f1;
    cursor: hand;
}

::-webkit-scrollbar{
    width: 10px;
	height: 10px;
}

::-webkit-scrollbar:hover{
    width: 15px;
	height: 15px;
  background: #cdcdcd;
}

::-webkit-scrollbar-track{
    background: #1C1C1C;
}

::-webkit-scrollbar-thumb{
    -webkit-border-radius: 12px;
    border-radius: 12px;
    background: #61b1f3;
}